<<<<<<< HEAD
zzzzz
=======
cocococo
>>>>>>> a6c9afc3c168dbc5ec1643268dabf1defaa5c2fe
<!DOCTYPE html>
<html>
  <head>
    <title>Nagano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
